.container {
    text-align: center;
    margin-top: 50px;
}

#color-box {
    width: 200px;
    height: 200px;
    background-color: #ccc; /* couleur d'arrière-plan par défaut */
}

#change-color-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
